.container-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    color: white;
    margin-bottom: 1vw;
}

.container-login-welcome {
    width: 100%;
    margin-top: 4vw;
    width: 80%;
    border: 1px solid #509D45;
    border-radius: 2em;
    padding: 4em;
}

.container-login-welcome h2{
    color: white;
    text-align: center;
    font-size: calc(1em + 2vw);
}

.container-login-inputs{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    margin-top: 2em;
    flex-direction: column;
}

.login-input{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    justify-content: center;
    flex-direction: column;
}

.login-input input {
    width: 50%;
    height: 3em;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: #E8F9FD;
    border-radius: .9em;
    outline: none;
    padding-left: .5em;
}

.login-input label {
    color: white;
    width: 50%;
    text-align: start;
    margin-bottom: 4px;
    margin-left: 1.5vw;
    font-weight: 900;
    font-size: calc(.5em + 1vw);

}

.login-button{
    width: 40%;
    margin-top: 1vw;
}

@media (max-width: 1100px) {
    .login-input input {
        width: 70%;
    }
    .login-input label {
        width: 70%;
    }
    .login-button{
        width: 60%;
    }
    .container-login-welcome{
        margin-top: 6em;
    }
}

@media (max-width: 600px) {
    .login-input input {
        width: 100%;
    }
    .login-input label {
        width: 100%;
    }
    .login-button{
        width: 70%;
    }
}