.container-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 2vw;
}

.container-info{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    margin-top: 2em;
    flex-direction: column;
}

.form-input{
    width: 65%;
    height: 3em;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: #E8F9FD;
    border-radius: .9em;
    outline: none;
    padding-left: .5em;
}

.container-titulo h2{
    color: white;
    text-align: center;
    margin-top: 4em;
}

.form-label{
    color: white;
    margin-bottom: 1vw;
    width: 100%;
    text-align: center;
}

.form-style{
    width: 80%;
    border: 2px solid #509D45;
    border-radius: 2em;
    margin-top: 2em;
}

.container-info-button{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.container-info-button button{
    width: 50%;
    margin-bottom: 2em;
}

.react-datepicker-wrapper {
    width: 65%;
}

.react-datepicker__input-container{
    width: 100%;
}

.form-input-data{
    width: 100%;
    height: 3em;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: #E8F9FD;
    border-radius: .9em;
    outline: none;
    padding-left: .5em;
}

.react-datepicker__day--disabled, .react-datepicker__day--disabled:hover{
    background-color: rgba(255, 0, 0, 0.747) !important;
    color: white !important;
    font-weight: 900 !important;
}


.react-datepicker__day--selected{
    background-color: #509D45 !important;
}

@media (max-width: 600px) {
    .container-info{
        flex-direction: column;
    }
}
