.container-home-sobre{
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.container-home-sobre h2{
    color: white;
    text-align: center;
}

.container-home-sobre p{
    color: white;
    text-align: justify;
    margin-top: 1.5em;
}

.text-sobre{
    width: 80%;
}

.button-sobre{
    margin-top: 1.5em;
    width: 50%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
    margin-top: 1.5em;
    margin-bottom: 3em;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__img:hover{
    transition: 0.5s all ease-in-out;
    transform: scale(1.05);
    cursor: pointer;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}

.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
}

.gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
}

@media (max-width: 600px) {
    .container-home-sobre{
        height: auto;
    }
}
